/*Custom gradient shift for hollow purple */

/*Applying the icy blue to deep purple */
body {
background-color: #1F232F; /* Dark gunmetal*/
background-attachment: fixed;
background: linear-gradient(135deg, #45B0D2 0%, #564A94 100%);

}

.content-wrapper {
    background-color: transparent !important;
    box-shadow: none!important;
}

.main-header.navbar {
    background-color: #1F232F !important;

}

.main-sidebar {
    background-color: #1F232F !important;
}

.card {
    background-color: rgba(242, 236, 248, 0.95);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}

.nav-sidebar .navlink, .brand-text {
    color: #F2ECF8 !important;
}